#main {
  background-color: #ddd;
  border-radius: 5px;
  padding-top: 20px;
}
img {
  width: 100%;
  max-width: 60rem;
  object-fit: cover;
}
p {
  color: #444;
}
#img {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem;
  overflow: hidden;
  text-align: center;
}
#title {
  text-align: center;
}
#subtitle {
  text-align: center;
}
